streamlit
anthropic
wfdb
py-ecg-detectors
pandas
requests
biopython
python-docx
scikit-learn
pytesseract
opencv-python
Pillow
pdf2image
anthropic>=0.4.5
python-dotenv>=1.0.1   # для локальной разработки, чтобы удобно тянуть ключ из .env
python-dotenv
